!!!
%title= "Stoll-Klangbrett"
%meta{ :content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
%link{ :href => "css/styles.css", :rel => "stylesheet"}
%script{    :src => "js/replace.js",
            :type => "text/javascript"}
%body
    .behaeltnis
        #kopfgrafik
            %img{ :src => "soundsystem.png", :alt => "Axel-Stoll-Klangbrett"}
        #ueberschrift
          %h1 
            a{ :href => "http://axelstoll.me"}
              Axel-Stoll-Klangbrett
        %br.clear
        .klang
            %h2 1938
            %audio{ :controls => "controls"}
                %source{ :src => "data/1938.mp3", :type => "audio/mp3"}
                %source{ :src => "data/1938.ogg", :type => "audio/ogg"}
        .klang
            %h2 Da staunen Sie, wa$?
            %audio{ :controls => "controls"}
                %source{ :src => "data/Dastaunensiewas.ogg", :type => "audio/ogg"}
                %source{ :src => "data/Dastaunensiewas.mp3", :type => "audio/mp3"}
        .klang
            %h2 Deutscher Raumflug ab 1934
            %audio{ :controls => "controls"}
                %source{ :src => "data/Deutscherraumflugab1938.ogg", :type => "audio/ogg"}
                %source{ :src => "data/Deutscherraumflugab1938.mp3", :type => "audio/mp3"}
        .klang
            %h2 Ich begruesze Sie
            %audio{ :controls => "controls"}
                %source{ :src => "data/IchBegrueszeSie.ogg", :type => "audio/ogg"}
                %source{ :src => "data/IchBegrueszeSie.mp3", :type => "audio/mp3"}
        .klang
            %h2 Mikrowelle, Skalarwelle
            %audio{ :controls => "controls"}
                %source{ :src => "data/MicrowelleScalarwelle.ogg", :type => "audio/ogg"}
                %source{ :src => "data/MicrowelleScalarwelle.mp3", :type => "audio/mp3"}
        .klang
            %h2 Physik, Mathematik, Philosophie
            %audio{ :controls => "controls"}
                %source{ :src => "data/PhysikMathematikPhilosophie.ogg", :type => "audio/ogg"}
                %source{ :src => "data/PhysikMathematikPhilosophie.mp3", :type => "audio/mp3"}
        .klang
            %h2 Ruhe dahinten
            %audio{ :controls => "controls"}
                %source{ :src => "data/Ruhedahinten.ogg", :type => "audio/ogg"}
                %source{ :src => "data/Ruhedahinten.mp3", :type => "audio/mp3"}
        .klang
            %h2 Alle$ ist vorhersehbar
            %audio{ :controls => "controls"}
                %source{ :src => "data/allesistvorhersehbar.ogg", :type => "audio/ogg"}
                %source{ :src => "data/allesistvorhersehbar.mp3", :type => "audio/mp3"}
        .klang
            %h2 Bestseller
            %audio{ :controls => "controls"}
                %source{ :src => "data/buchbestseller.ogg", :type => "audio/ogg"}
                %source{ :src => "data/buchbestseller.mp3", :type => "audio/mp3"}
        .klang
            %h2 Da$ ist ganz wichtig
            %audio{ :controls => "controls"}
                %source{ :src => "data/dasistganzwichtig.ogg", :type => "audio/ogg"}
                %source{ :src => "data/dasistganzwichtig.mp3", :type => "audio/mp3"}
        .klang
            %h2 Da staunt ihr, wa$?
            %audio{ :controls => "controls"}
                %source{ :src => "data/dastauntihrwas.ogg", :type => "audio/ogg"}
                %source{ :src => "data/dastauntihrwas.mp3", :type => "audio/mp3"}
        .klang
            %h2 Der Elektrojude
            %audio{ :controls => "controls"}
                %source{ :src => "data/derelektrojude.ogg", :type => "audio/ogg"}
                %source{ :src => "data/derelektrojude.mp3", :type => "audio/mp3"}
        .klang
            %h2 Die Sonne ist KALT!
            %audio{ :controls => "controls"}
                %source{ :src => "data/diesonneistkalt.ogg", :type => "audio/ogg"}
                %source{ :src => "data/diesonneistkalt.mp3", :type => "audio/mp3"}
        .klang
            %h2 Implosion$strudel
            %audio{ :controls => "controls"}
                %source{ :src => "data/implosionsstrudel.ogg", :type => "audio/ogg"}
                %source{ :src => "data/implosionsstrudel.mp3", :type => "audio/mp3"}
        .klang
            %h2 Implosion$technologie
            %audio{ :controls => "controls"}
                %source{ :src => "data/implosionstechnologie.ogg", :type => "audio/ogg"}
                %source{ :src => "data/implosionstechnologie.mp3", :type => "audio/mp3"}
        .klang
            %h2 Kalte Fusion
            %audio{ :controls => "controls"}
                %source{ :src => "data/kaltefusion.ogg", :type => "audio/ogg"}
                %source{ :src => "data/kaltefusion.mp3", :type => "audio/mp3"}
        .klang
            %h2 Kein Problem
            %audio{ :controls => "controls"}
                %source{ :src => "data/keinproblem.ogg", :type => "audio/ogg"}
                %source{ :src => "data/keinproblem.mp3", :type => "audio/mp3"}
        .klang
            %h2 Kein Science-Fiction
            %audio{ :controls => "controls"}
                %source{ :src => "data/keinsiencefiction.ogg", :type => "audio/ogg"}
                %source{ :src => "data/keinsiencefiction.mp3", :type => "audio/mp3"}
        .klang
            %h2 Klar, ne
            %audio{ :controls => "controls"}
                %source{ :src => "data/klarne.ogg", :type => "audio/ogg"}
                %source{ :src => "data/klarne.mp3", :type => "audio/mp3"}
        .klang
            %h2 Kopf zum Denken benutzen
            %audio{ :controls => "controls"}
                %source{ :src => "data/kopfzumdenkenbenutzen.ogg", :type => "audio/ogg"}
                %source{ :src => "data/kopfzumdenkenbenutzen.mp3", :type => "audio/mp3"}
        .klang
            %h2 Magie
            %audio{ :controls => "controls"}
                %source{ :src => "data/magieistphysik.ogg", :type => "audio/ogg"}
                %source{ :src => "data/magieistphysik.mp3", :type => "audio/mp3"}
        .klang
            %h2 Mikrowellenstrahler
            %audio{ :controls => "controls"}
                %source{ :src => "data/microwellenstrahler.ogg", :type => "audio/ogg"}
                %source{ :src => "data/microwellenstrahler.mp3", :type => "audio/mp3"}
        .klang
            %h2 Musz man wissen
            %audio{ :controls => "controls"}
                %source{ :src => "data/mussmanwissen.ogg", :type => "audio/ogg"}
                %source{ :src => "data/mussmanwissen.mp3", :type => "audio/mp3"}
        .klang
            %h2 Mein Name ist Stoll
            %audio{ :controls => "controls"}
                %source{ :src => "data/promovierternaturwisschenschaftler.ogg", :type => "audio/ogg"}
                %source{ :src => "data/promovierternaturwisschenschaftler.mp3", :type => "audio/mp3"}
        .klang
            %h2 So einfach ist da$
            %audio{ :controls => "controls"}
                %source{ :src => "data/soeinfachistdas.ogg", :type => "audio/ogg"}
                %source{ :src => "data/soeinfachistdas.mp3", :type => "audio/mp3"}
        .klang
            %h2 Vergessen Sie'$!
            %audio{ :controls => "controls"}
                %source{ :src => "data/vergessensies.ogg", :type => "audio/ogg"}
                %source{ :src => "data/vergessensies.mp3", :type => "audio/mp3"}
        .klang
            %h2 Wer weisz da$?
            %audio{ :controls => "controls"}
                %source{ :src => "data/werweiszdas.ogg", :type => "audio/ogg"}
                %source{ :src => "data/werweiszdas.mp3", :type => "audio/mp3"}
        .klang
            %h2 Wieder keiner
            %audio{ :controls => "controls"}
                %source{ :src => "data/wiederkeiner.ogg", :type => "audio/ogg"}
                %source{ :src => "data/wiederkeiner.mp3", :type => "audio/mp3"}
        .klang
            %h2 Wissen auch die wenigsten
            %audio{ :controls => "controls"}
                %source{ :src => "data/wissenauchdiewenigsten.ogg", :type => "audio/ogg"}
                %source{ :src => "data/wissenauchdiewenigsten.mp3", :type => "audio/mp3"}
        .klang
            %h2 Wissen um die wahre Physik
            %audio{ :controls => "controls"}
                %source{ :src => "data/wissenumdiewahrephysik.ogg", :type => "audio/ogg"}
                %source{ :src => "data/wissenumdiewahrephysik.mp3", :type => "audio/mp3"}
        .klang
            %h2 Zufall
            %audio{ :controls => "controls"}
                %source{ :src => "data/wortzufall.ogg", :type => "audio/ogg"}
                %source{ :src => "data/wortzufall.mp3", :type => "audio/mp3"}

